extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Clark Mitchell

        
        p Full Stack JavaScript Developer


        .about-bio

         
          p Results-driven life long student passionate about developing user-friendly software applications. Excellent problem-solving skills and ability to perform well in a team. Seeking to help a company develop their product as a software engineer, as well as grow and develop my own skills as a coder.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React

        h6 Contact Info

        
        ul
          li 702-224-4433
          li clark_mitchelljr@hotmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/clark-mitchell-9918b0123/' target ='_blank') LinkedIn
        a.btn-link(href='https://github.com/cmitch30' target ='_blank') GitHub
        a.btn-link(href='https://twitter.com/CjMitchell06' target ='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back